In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
data = pd.read_excel("data/cleaned_data.xlsx")

In [3]:
# plot distribution of show types
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(30, 10))

episode_type = data["title"].value_counts()
b1 = ax1.bar(x=episode_type.index, height=episode_type, color=["tab:blue", "green", "red"])
ax1.set_xlabel("Sendung", fontsize=30, labelpad=20)
ax1.set_ylabel("Anzahl Episoden", fontsize=20, labelpad=20)
ax1.bar_label(b1, episode_type)

# plot distribution of timeslot
episode_timeslots = data.groupby("timeslot").size()
# move timeslots after midnight from start to end
episode_timeslots = episode_timeslots[2:].append(episode_timeslots[:2])
# labels
x_labels_ = [datetime.time(hour=mt // 100, minute=mt % 100).strftime("%H:%M") for mt in episode_timeslots.index]
b2 = ax2.bar(x=x_labels_, height=episode_timeslots)
ax2.set_xlabel("Timeslot", fontsize=30, labelpad=20)
ax2.set_ylabel("Anzahl Episoden", fontsize=20, labelpad=20)
ax2.bar_label(b2, episode_timeslots)
plt.savefig("graphs/other/episode_distribution.png")
plt.close()

,date,date_and_time,day,desc_length,episodes_that_day,month,num_topics,quarter,timeslot,title,weekday,year,topic,weather,short_news,lottozahlen,meinung,cluster
4575,2014-01-01,2014-01-01 23:13:00,1,163,2,1,5,1/2014,2300,tagesthemen,2,2014,Die Bilanz der Silvesternacht,False,False,False,False,5
4576,2014-01-01,2014-01-01 23:13:00,1,163,2,1,5,1/2014,2300,tagesthemen,2,2014,EU-Freizügigkeit für Bulgaren und Rumänen,False,False,False,False,5
4577,2014-01-01,2014-01-01 23:13:00,1,163,2,1,5,1/2014,2300,tagesthemen,2,2014,Weitere Meldungen des Tages,False,True,False,False,4
4578,2014-01-01,2014-01-01 23:13:00,1,163,2,1,5,1/2014,2300,tagesthemen,2,2014,Bill de Blasio ist New Yorks neuer Bürgermeister,False,False,False,False,0
4579,2014-01-01,2014-01-01 23:13:00,1,163,2,1,5,1/2014,2300,tagesthemen,2,2014,Das Wetter,True,False,False,False,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50931,2021-01-31,2021-01-31 20:00:00,31,678,2,1,11,1/2021,2000,tagesschau,6,2021,Sprengung von vier Weltkriegsbomben in Göttingen,False,False,False,False,2
50932,2021-01-31,2021-01-31 20:00:00,31,678,2,1,11,1/2021,2000,tagesschau,6,2021,19. Spieltag der Fußball-Bundesliga,False,False,False,False,1
50933,2021-01-31,2021-01-31 20:00:00,31,678,2,1,11,1/2021,2000,tagesschau,6,2021,Dänemark verteidigt Titel bei Handball-WM,False,False,False,False,7
50934,2021-01-31,2021-01-31 20:00:00,31,678,2,1,11,1/2021,2000,tagesschau,6,2021,Das Wetter,True,False,False,False,4
50935,2021-01-31,2021-01-31 20:00:00,31,678,2,1,11,1/2021,2000,tagesschau,6,2021,"(Der Beitrag zum Thema ""Fußball-Bundesliga"" d...",False,False,False,False,0