In [1]:
import pandas as pd
from tqdm import tqdm
import torch
from transformers import pipeline
# init pandas progressbar
tqdm.pandas()

In [2]:
classifier = pipeline("zero-shot-classification", model="Sahajtomar/German_Zeroshot", device=0)

data = pd.read_excel("data\cleaned_data.xlsx")
categories = [
    "Politik",
    "Wirtschaft",
    "Lottozahlen",
    "Sport",
    "Naturkatastrophe",
    "Kunst und Kultur",
    "Terrorismus"
    "Pandemie"
]

def categorise_topic(topic_str: str) -> str:
    model_output = classifier(topic_str, categories)
    labels = model_output["labels"]
    output = model_output["scores"]
    category_index = output.index(max(output))
    return labels[category_index]

data["category"] = data["topic"].progress_apply(categorise_topic)

In [10]:
data["category"].value_counts()

Politik        24222
Katastrophe    18367
Wirtschaft      6639
Sport           4849
Lottozahlen      998
Name: category, dtype: int64

In [14]:
data

,date,date_and_time,day,desc_length,episodes_that_day,month,num_topics,quarter,timeslot,title,weekday,year,topic,category
0,2013-04-22,2013-04-22 22:15:00,22,303,2,4,10,2/2013,2200,tagesthemen,0,2013,Der Fall Hoeneß,Sport
1,2013-04-22,2013-04-22 22:15:00,22,303,2,4,10,2/2013,2200,tagesthemen,0,2013,Selbstanzeigen als Ausweg bei Steuerhinterzie...,Wirtschaft
2,2013-04-22,2013-04-22 22:15:00,22,303,2,4,10,2/2013,2200,tagesthemen,0,2013,Der Kommentar von Marcus Bornheim (BR) zum Fa...,Sport
3,2013-04-22,2013-04-22 22:15:00,22,303,2,4,10,2/2013,2200,tagesthemen,0,2013,Warnstreik Lufthansa,Politik
4,2013-04-22,2013-04-22 22:15:00,22,303,2,4,10,2/2013,2200,tagesthemen,0,2013,Nachrichtenblock I,Katastrophe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55070,2021-09-13,2021-09-13 20:00:00,13,578,2,9,10,3/2021,2000,tagesschau,0,2021,Israels Premierminister zu Besuch in Ägypten,Politik
55071,2021-09-13,2021-09-13 20:00:00,13,578,2,9,10,3/2021,2000,tagesschau,0,2021,Künstlerisches Vermächtnis von Christo und Je...,Katastrophe
55072,2021-09-13,2021-09-13 20:00:00,13,578,2,9,10,3/2021,2000,tagesschau,0,2021,US Open,Politik
55073,2021-09-13,2021-09-13 20:00:00,13,578,2,9,10,3/2021,2000,tagesschau,0,2021,Waldbrand in Andalusien: Feuer in Provinz Mal...,Katastrophe
55074,2021-09-13,2021-09-13 20:00:00,13,578,2,9,10,3/2021,2000,tagesschau,0,2021,Das Wetter,Katastrophe