In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("data/cleaned.xlsx")

In [3]:
data

,date,date_and_time,day,desc_length,episodes_that_day,month,num_topics,quarter,timeslot,title,weekday,year,topic
0,2013-04-22,2013-04-22 22:15:00,22,303,2,4,10,2/2013,2200,tagesthemen,0,2013,Der Fall Hoeneß
1,2013-04-22,2013-04-22 22:15:00,22,303,2,4,10,2/2013,2200,tagesthemen,0,2013,Selbstanzeigen als Ausweg bei Steuerhinterzie...
2,2013-04-22,2013-04-22 22:15:00,22,303,2,4,10,2/2013,2200,tagesthemen,0,2013,Der Kommentar von Marcus Bornheim (BR) zum Fa...
3,2013-04-22,2013-04-22 22:15:00,22,303,2,4,10,2/2013,2200,tagesthemen,0,2013,Warnstreik Lufthansa
4,2013-04-22,2013-04-22 22:15:00,22,303,2,4,10,2/2013,2200,tagesthemen,0,2013,Nachrichtenblock I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55070,2021-09-13,2021-09-13 20:00:00,13,578,2,9,10,3/2021,2000,tagesschau,0,2021,Israels Premierminister zu Besuch in Ägypten
55071,2021-09-13,2021-09-13 20:00:00,13,578,2,9,10,3/2021,2000,tagesschau,0,2021,Künstlerisches Vermächtnis von Christo und Je...
55072,2021-09-13,2021-09-13 20:00:00,13,578,2,9,10,3/2021,2000,tagesschau,0,2021,US Open
55073,2021-09-13,2021-09-13 20:00:00,13,578,2,9,10,3/2021,2000,tagesschau,0,2021,Waldbrand in Andalusien: Feuer in Provinz Mal...
55074,2021-09-13,2021-09-13 20:00:00,13,578,2,9,10,3/2021,2000,tagesschau,0,2021,Das Wetter